services:
  postgres:
    image: postgres:16
    container_name: clinica_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: clinica
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init_novo.sql:/docker-entrypoint-initdb.d/init.sql
      
volumes:
  postgres_data:
    driver: local